In [22]:
import pandas as pd
import numpy as np
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [15]:
df = pd.read_csv('../../data/processed/complaints-after-state-updates.csv')

<h3>How many facility ids are associated with multiple online names?</h3>

In [16]:
id_name = df[['facility_id','fac_name']][df['fac_name'].notnull()].drop_duplicates().rename(columns={'fac_name':'online_name'})

In [17]:
id_name.head()

   facility_id                                      online_name
1       385008               PRESBYTERIAN COMMUNITY CARE CENTER
24      385010        LAURELHURST VILLAGE REHABILITATION CENTER
30      385010                              LAURELHURST VILLAGE
76      385015  REGENCY GRESHAM NURSING & REHABILITATION CENTER
82      385015       REST HARBOR REHABILITATION & EXTENDED CARE

In [18]:
names_per_id = id_name.groupby('facility_id').count().reset_index()

In [19]:
names_per_id.head()

  facility_id  online_name
0      385008            1
1      385010            2
2      385015            2
3      385018            1
4      385024            2

In [20]:
names_per_id[names_per_id['online_name']>1].count()[0]

168

Checking if multiple facilities have the same name